body{
    text-align: center;
}

table{
    width: 50%;
    margin: auto;
    font-size:2.5em;
}

td{
     border-bottom: 10px double blue;
     padding: 5px 0px;

}
td.even{
    background-color: lightblue;
}
hr#number1{
    border: 10px solid red;
}
div#number1{
    background-color: skyblue;
}