body{
    text-align: center;
    background-image:url("images/75228627-cartoon-game-background.jpg");
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
}


canvas{
    border: 2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkBox{
    height: 20px;
    color: lightskyblue;
    font-size: 26px;
    font-weight: bold;
}